* {
	margin: 0;
	padding: 0;
	font-family: '思源黑体';
}
.logo {
	width: 153px;
	height: 44px;
}
.head {
	box-shadow: 0px 2px 4px rgba(229, 229, 229, 0.31);
	position: sticky;
	top: 0px;
	background-color: #fff;
	z-index: 2;
}
.head-top {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.head .layui-btn {
	color: rgba(255, 255, 255, 1);
	font-size: 18px;
	font-weight: 700;
	background: rgba(65, 151, 250, 1);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}
.head .line {
	border-bottom: 1px solid #ccc;
}
.head-bottom {
	line-height: 50px;
	font-size: 14px;
	font-weight: 400;
	position: relative;
}
.head-bottom .nav {
	list-style: none;
}
.head-bottom > .nav > li {
	display: inline-block;
	position: relative;
	margin: 0px 10px;
	cursor: pointer;
	font-size: 20px;
}
@media screen and (max-width: 991px) {
	.head .nav {
		width: 50%;
		left: -50%;
		top: 80px;
		background-color: #fff;
		text-align: center;
		position: fixed !important;
		height: calc(100vh - 80px);
		visibility: visible;
		transition: 0.2s linear;
		overflow: hidden;
	}
	.head .nav .layui-btn {
		display: inline-block !important;
	}
	.head .nav > li {
		display: block !important;
	}
	.head .nav .sub {
		position: relative !important;
		width: 100% !important;
		box-shadow: none !important;
	}
	.head-top .layui-btn {
		display: none;
	}
	.logo {
		position: absolute;
		right: 0px;
		top: 18px;
	}
	.head .head-bottom {
		visibility: hidden;
		height: 0px;
	}
	.head .line {
		display: none !important;
	}
}
.head-bottom > .nav > li.active::after {
	display: block;
	position: absolute;
	content: '';
	width: 80%;
	transform: translateX(10%);
	height: 5px;
	background-color: #4197fa;
	bottom: 0px;
	border-radius: 5px;
}
.head .nav .layui-btn {
	display: none;
}
.head .menu {
	cursor: pointer;
}
.head-bottom > .nav > li > .sub {
	position: absolute;
	top: 100%;
	width: 200px;
	line-height: 24px;
	border-radius: 10px;
	padding: 15px;
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 0px 2px 4px 2px rgba(166, 166, 166, 0.25);
	cursor: default;
	z-index: 1;
	background-color: #fff;
}
.head-bottom > .nav > li > .sub p {
	color: rgba(128, 128, 128, 1);
	font-size: 10px;
	font-weight: 400;
}

.head-bottom > .nav > li > .sub a {
	color: rgba(0, 0, 0, 1);
	font-size: 11px;
	font-weight: 400;
}
.head-bottom > .nav > li > .sub a:hover {
	color: #2a82e4;
	font-weight: 700;
}
.body + .layui-border-black {
	border-color: #eeeeee !important;
}
/* 页脚 */
.footer {
	text-align: center;
	line-height: 24px;
	padding: 5px 0px;
}
.footer > p:nth-child(1) {
	font-size: 12px;
	font-weight: 400;
}
.footer > p:nth-child(2) {
	color: rgba(128, 128, 128, 1);
	font-size: 12px;
	font-weight: 400;
}
.footer > p:nth-child(3) {
	font-size: 12px;
	font-weight: 400;
}
