.layui-tab-title > li {
  width: 100% !important;
}
button {
  height: 38px !important;
  line-height: 38px !important;
  width: calc(50% - 10px);
  object-fit: contain;
  border-radius: 10px !important;
  border: 1px solid #e5e5e5 !important;
  box-sizing: border-box;
  background-color: #fbfbfb !important;
  color: #2a82e4 !important;
  font-size: 18px !important;
  font-weight: 700 !important;
}
